<a href="https://colab.research.google.com/github/neriandria/MachineLearning/blob/main/MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install numpy pandas scikit-learn

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
df = pd.read_csv("Adult data.csv")

In [ ]:
df.head()

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   Workclass       32561 non-null  object
 2   Fnlwgt          32561 non-null  int64
 3   Education       32561 non-null  object
 4   Education-num   32561 non-null  int64
 5   Marital-status  32561 non-null  object
 6   Occupation      32561 non-null  object
 7   Relationship    32561 non-null  object
 8   Race            32561 non-null  object
 9   Sex             32561 non-null  object
 10  Capital-gain    32561 non-null  int64
 11  Capital-loss    32561 non-null  int64
 12  Hours-per-week  32561 non-null  int64
 13  Native-country  32561 non-null  object
 14  Income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.describe()

,Age,Fnlwgt,Education-num,Capital-gain,Capital-loss,Hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
#Find rows with "?" values in Adult dataset
question_mark_rows = df[df.apply(lambda row: row.astype(str).str.contains('\?')).any(axis=1)]

print("Rows with '?' values in Adult dataset:")
print(question_mark_rows)

Rows with '?' values in Adult dataset:
       Age Workclass  Fnlwgt      Education  Education-num  \
14      40   Private  121772      Assoc-voc             11
27      54         ?  180211   Some-college             10
38      31   Private   84154   Some-college             10
51      18   Private  226956        HS-grad              9
61      32         ?  293936        7th-8th              4
...    ...       ...     ...            ...            ...
32530   35         ?  320084      Bachelors             13
32531   30         ?   33811      Bachelors             13
32539   71         ?  287372      Doctorate             16
32541   41         ?  202822        HS-grad              9
32542   72         ?  129912        HS-grad              9

               Marital-status      Occupation    Relationship  \
14         Married-civ-spouse    Craft-repair         Husband
27         Married-civ-spouse               ?         Husband
38         Married-civ-spouse           Sales         Husband
51              Never-married   Other-service       Own-child
61      Married-spouse-absent               ?   Not-in-family
...                       ...             ...             ...
32530      Married-civ-spouse               ?            Wife
32531           Never-married               ?   Not-in-family
32539      Married-civ-spouse               ?         Husband
32541               Separated               ?   Not-in-family
32542      Married-civ-spouse               ?         Husband

                      Race      Sex  Capital-gain  Capital-loss  \
14      Asian-Pac-Islander     Male             0             0
27      Asian-Pac-Islander     Male             0             0
38                   White     Male             0             0
51                   White   Female             0             0
61                   White     Male             0             0
...                    ...      ...           ...           ...
32530                White   Female             0             0
32531   Asian-Pac-Islander   Female             0             0
32539                White     Male             0             0
32541                Black   Female             0             0
32542                White     Male             0             0

       Hours-per-week  Native-country  Income
14                 40               ?    >50K
27                 60           South    >50K
38                 38               ?    >50K
51                 30               ?   <=50K
61                 40               ?   <=50K
...               ...             ...     ...
32530              55   United-States    >50K
32531              99   United-States   <=50K
32539              10   United-States    >50K
32541              32   United-States   <=50K
32542              25   United-States   <=50K

[2399 rows x 15 columns]

In [ ]:
# Replace "?" values with mode of respective columns
for column in df.columns:
    if df[column].dtype == 'object':  # Check if the column is categorical
        df[column] = df[column].replace(' ?', df[column].mode()[0])

In [ ]:
print(df)
print(df.isnull().sum())

       Age          Workclass  Fnlwgt    Education  Education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            Marital-status          Occupation    Relationship    Race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           Sex  Capital-gain  Capital-loss  Hours-per-week  Native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       Income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]
Age               0
Workclass         0
Fnlwgt            0
Education         0
Education-num     0
Marital-status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital-gain      0
Capital-loss      0
Hours-per-week    0
Native-country    0
Income            0
dtype: int64

In [ ]:
# Encode 'Income' column as True for '<=50K' and False for '>50K'
df['Income'] = df['Income'].apply(lambda x: x.strip() == '<=50K')

In [ ]:
print(df.head())

   Age          Workclass  Fnlwgt   Education  Education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        Marital-status          Occupation    Relationship    Race      Sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   Capital-gain  Capital-loss  Hours-per-week  Native-country  Income
0          2174             0              40   United-States    True
1             0             0              13   United-States    True
2             0             0              40   United-States    True
3             0             0              40   United-States    True
4             0             0              40            Cuba    True

In [ ]:
# Model training
# Random Forest Classification
# One-hot encode categorical variables for both training and testing sets
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)

# Align the columns of the testing set with the columns of the training set
X_test_encoded = X_test_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)

# Train the RandomForestClassifier
rf_classifier.fit(X_train_encoded, y_train)

# Predictions
rf_pred = rf_classifier.predict(X_test_encoded)

# Evaluation
print("\nRandom Forest Classification Report:")
print(classification_report(y_test, rf_pred))
print("Random Forest Accuracy:", accuracy_score(y_test, rf_pred))

Random Forest Classification Report:
              precision    recall  f1-score   support

       False       0.74      0.64      0.69      1571
        True       0.89      0.93      0.91      4942

    accuracy                           0.86      6513
   macro avg       0.82      0.78      0.80      6513
weighted avg       0.85      0.86      0.86      6513

Random Forest Accuracy: 0.8590511285122063

In [ ]:
# Model training
# Nave Bayes Classification
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()

# Train the Nave Bayes classifier
nb_classifier.fit(X_train_encoded, y_train)

# Predictions
nb_pred = nb_classifier.predict(X_test_encoded)

# Evaluation
print("Nave Bayes Classification Report:")
print(classification_report(y_test, nb_pred))
print("Nave Bayes Accuracy:", accuracy_score(y_test, nb_pred))

Nave Bayes Classification Report:
              precision    recall  f1-score   support

       False       0.68      0.32      0.43      1571
        True       0.81      0.95      0.88      4942

    accuracy                           0.80      6513
   macro avg       0.75      0.64      0.66      6513
weighted avg       0.78      0.80      0.77      6513

Nave Bayes Accuracy: 0.7991708889912482

TESTING DATASET

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [4]:
df_test = pd.read_csv("Adult.test.csv")

In [8]:
# Find rows with "?" values in df_test dataset
question_mark_rows = df_test[df_test.apply(lambda row: row.astype(str).str.contains('\?')).any(axis=1)]

print("Rows with '?' values in Adult.test dataset:")
print(question_mark_rows)

Rows with '?' values in Adult.test dataset:
       Age  Workclass  Fnlwgt     Education  Education-num  \
4       18          ?  103497  Some-college             10
6       29          ?  227026       HS-grad              9
13      58          ?  299831       HS-grad              9
19      40    Private   85019     Doctorate             16
22      72          ?  132015       7th-8th              4
...    ...        ...     ...           ...            ...
16208   21          ?  212661  Some-college             10
16239   73          ?  144872       HS-grad              9
16251   81          ?   26711     Assoc-voc             11
16265   50  Local-gov  139347       Masters             14
16277   64          ?  321403       HS-grad              9

           Marital-status      Occupation    Relationship                Race  \
4           Never-married               ?       Own-child               White
6           Never-married               ?       Unmarried               Black
13     Married-civ-spouse               ?         Husband               White
19     Married-civ-spouse  Prof-specialty         Husband  Asian-Pac-Islander
22               Divorced               ?   Not-in-family               White
...                   ...             ...             ...                 ...
16208       Never-married               ?       Own-child               White
16239  Married-civ-spouse               ?         Husband               White
16251  Married-civ-spouse               ?         Husband               White
16265  Married-civ-spouse  Prof-specialty            Wife               White
16277             Widowed               ?  Other-relative               Black

          Sex  Capital-gain  Capital-loss  Hours-per-week Native-country  \
4      Female             0             0              30  United-States
6        Male             0             0              40  United-States
13       Male             0             0              35  United-States
19       Male             0             0              45              ?
22     Female             0             0               6  United-States
...       ...           ...           ...             ...            ...
16208  Female             0             0              30  United-States
16239    Male             0             0              25         Canada
16251    Male          2936             0              20  United-States
16265  Female             0             0              40              ?
16277    Male             0             0              40  United-States

       Income
4      <=50K.
6      <=50K.
13     <=50K.
19      >50K.
22     <=50K.
...       ...
16208  <=50K.
16239  <=50K.
16251  <=50K.
16265   >50K.
16277  <=50K.

[1221 rows x 15 columns]

In [9]:
# Replace "?" values with mode of respective columns in df_test
for column in df_test.columns:
    if df_test[column].dtype == 'object':  # Check if the column is categorical
        df_test[column] = df_test[column].replace(' ?', df_test[column].mode()[0])

In [14]:
# Encode 'Income' column as True for '<=50K' and False for '>50K'
df_test['Income'] = df_test['Income'].apply(lambda x: x.strip() == '<=50K')

In [16]:
# Print the updated DataFrame
print("Updated DataFrame:")
print(df_test_encoded)

Updated DataFrame:
       Age  Fnlwgt  Education-num  Capital-gain  Capital-loss  Hours-per-week  \
0       25  226802              7             0             0              40
1       38   89814              9             0             0              50
2       28  336951             12             0             0              40
3       44  160323             10          7688             0              40
4       18  103497             10             0             0              30
...    ...     ...            ...           ...           ...             ...
16276   39  215419             13             0             0              36
16277   64  321403              9             0             0              40
16278   38  374983             13             0             0              50
16279   44   83891             13          5455             0              40
16280   35  182148             13             0             0              60

       Workclass_?  Workclass_Federal-gov  Workclass_Local-gov  \
0                0                      0                    0
1                0                      0                    0
2                0                      0                    1
3                0                      0                    0
4                1                      0                    0
...            ...                    ...                  ...
16276            0                      0                    0
16277            1                      0                    0
16278            0                      0                    0
16279            0                      0                    0
16280            0                      0                    0

       Workclass_Never-worked  ...  Native-country_Scotland  \
0                           0  ...                        0
1                           0  ...                        0
2                           0  ...                        0
3                           0  ...                        0
4                           0  ...                        0
...                       ...  ...                      ...
16276                       0  ...                        0
16277                       0  ...                        0
16278                       0  ...                        0
16279                       0  ...                        0
16280                       0  ...                        0

       Native-country_South  Native-country_Taiwan  Native-country_Thailand  \
0                         0                      0                        0
1                         0                      0                        0
2                         0                      0                        0
3                         0                      0                        0
4                         0                      0                        0
...                     ...                    ...                      ...
16276                     0                      0                        0
16277                     0                      0                        0
16278                     0                      0                        0
16279                     0                      0                        0
16280                     0                      0                        0

       Native-country_Trinadad&Tobago  Native-country_United-States  \
0                                   0                             1
1                                   0                             1
2                                   0                             1
3                                   0                             1
4                                   0                             1
...                               ...                           ...
16276                               0                             1
16277                               0                             1
16278                               0                             1
16279                               0                             1
16280                               0                             1

       Native-country_Vietnam  Native-country_Yugoslavia  Income_<=50K.  \
0                           0                          0              1
1                           0                          0              1
2                           0                          0              0
3                           0                          0              0
4                           0                          0              1
...                       ...                        ...            ...
16276                       0                          0              1
16277                       0                          0              1
16278                       0                          0              1
16279                       0                          0              1
16280                       0                          0              0

       Income_>50K.
0                 0
1                 0
2                 1
3                 1
4                 0
...             ...
16276             0
16277             0
16278             0
16279             0
16280             1

[16281 rows x 109 columns]

In [17]:
# Check for any null values
print("\nNull values in the updated DataFrame:")
print(df_test_encoded.isnull().sum())

Null values in the updated DataFrame:
Age                             0
Fnlwgt                          0
Education-num                   0
Capital-gain                    0
Capital-loss                    0
                               ..
Native-country_United-States    0
Native-country_Vietnam          0
Native-country_Yugoslavia       0
Income_<=50K.                   0
Income_>50K.                    0
Length: 109, dtype: int64