<a href="https://colab.research.google.com/github/neriandria/MachineLearning/blob/main/MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
pip install numpy pandas scikit-learn

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [63]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [64]:
df = pd.read_csv("Adult data.csv")

In [65]:
df.head()

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   Workclass       32561 non-null  object
 2   Fnlwgt          32561 non-null  int64
 3   Education       32561 non-null  object
 4   Education-num   32561 non-null  int64
 5   Marital-status  32561 non-null  object
 6   Occupation      32561 non-null  object
 7   Relationship    32561 non-null  object
 8   Race            32561 non-null  object
 9   Sex             32561 non-null  object
 10  Capital-gain    32561 non-null  int64
 11  Capital-loss    32561 non-null  int64
 12  Hours-per-week  32561 non-null  int64
 13  Native-country  32561 non-null  object
 14  Income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [67]:
df.describe()

,Age,Fnlwgt,Education-num,Capital-gain,Capital-loss,Hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [68]:
#Find rows with "?" values in Adult dataset
question_mark_rows = df[df.apply(lambda row: row.astype(str).str.contains('\?')).any(axis=1)]

print("Rows with '?' values in Adult dataset:")
print(question_mark_rows)

Rows with '?' values in Adult dataset:
       Age Workclass  Fnlwgt      Education  Education-num  \
14      40   Private  121772      Assoc-voc             11
27      54         ?  180211   Some-college             10
38      31   Private   84154   Some-college             10
51      18   Private  226956        HS-grad              9
61      32         ?  293936        7th-8th              4
...    ...       ...     ...            ...            ...
32530   35         ?  320084      Bachelors             13
32531   30         ?   33811      Bachelors             13
32539   71         ?  287372      Doctorate             16
32541   41         ?  202822        HS-grad              9
32542   72         ?  129912        HS-grad              9

               Marital-status      Occupation    Relationship  \
14         Married-civ-spouse    Craft-repair         Husband
27         Married-civ-spouse               ?         Husband
38         Married-civ-spouse           Sales         Husband
51              Never-married   Other-service       Own-child
61      Married-spouse-absent               ?   Not-in-family
...                       ...             ...             ...
32530      Married-civ-spouse               ?            Wife
32531           Never-married               ?   Not-in-family
32539      Married-civ-spouse               ?         Husband
32541               Separated               ?   Not-in-family
32542      Married-civ-spouse               ?         Husband

                      Race      Sex  Capital-gain  Capital-loss  \
14      Asian-Pac-Islander     Male             0             0
27      Asian-Pac-Islander     Male             0             0
38                   White     Male             0             0
51                   White   Female             0             0
61                   White     Male             0             0
...                    ...      ...           ...           ...
32530                White   Female             0             0
32531   Asian-Pac-Islander   Female             0             0
32539                White     Male             0             0
32541                Black   Female             0             0
32542                White     Male             0             0

       Hours-per-week  Native-country  Income
14                 40               ?    >50K
27                 60           South    >50K
38                 38               ?    >50K
51                 30               ?   <=50K
61                 40               ?   <=50K
...               ...             ...     ...
32530              55   United-States    >50K
32531              99   United-States   <=50K
32539              10   United-States    >50K
32541              32   United-States   <=50K
32542              25   United-States   <=50K

[2399 rows x 15 columns]

In [69]:
# Replace "?" values with mode of respective columns
for column in df.columns:
    if df[column].dtype == 'object':  # Check if the column is categorical
        df[column] = df[column].replace(' ?', df[column].mode()[0])

In [70]:
print(df)
print(df.isnull().sum())

       Age          Workclass  Fnlwgt    Education  Education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            Marital-status          Occupation    Relationship    Race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           Sex  Capital-gain  Capital-loss  Hours-per-week  Native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       Income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]
Age               0
Workclass         0
Fnlwgt            0
Education         0
Education-num     0
Marital-status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital-gain      0
Capital-loss      0
Hours-per-week    0
Native-country    0
Income            0
dtype: int64

In [71]:
# Split the dataset into features (X) and target variable (y)
X = df.drop(columns=['Income'])
y = df['Income']

# Encode categorical variables using one-hot encoding
X_encoded = pd.get_dummies(X)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [72]:
# Encode 'Income' column as True for '<=50K' and False for '>50K'
df['Income'] = df['Income'].apply(lambda x: x.strip() == '<=50K')

In [73]:
print(df.head())

   Age          Workclass  Fnlwgt   Education  Education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        Marital-status          Occupation    Relationship    Race      Sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   Capital-gain  Capital-loss  Hours-per-week  Native-country  Income
0          2174             0              40   United-States    True
1             0             0              13   United-States    True
2             0             0              40   United-States    True
3             0             0              40   United-States    True
4             0             0              40            Cuba    True

In [74]:
# Find duplicate rows
duplicate_rows = df.duplicated()

# Print duplicate rows
print("Duplicate Rows:")
print(df[duplicate_rows])

# Remove duplicate rows
df_cleaned = df[~duplicate_rows]

# Print information about removed duplicates
print("\nNumber of duplicate rows removed:", sum(duplicate_rows))
print("Shape of the cleaned dataset:", df_cleaned.shape)

Duplicate Rows:
       Age          Workclass  Fnlwgt      Education  Education-num  \
4881    25            Private  308144      Bachelors             13
5104    90            Private   52386   Some-college             10
9171    21            Private  250051   Some-college             10
11631   20            Private  107658   Some-college             10
13084   25            Private  195994        1st-4th              2
15059   21            Private  243368      Preschool              1
17040   46            Private  173243        HS-grad              9
18555   30            Private  144593        HS-grad              9
18698   19            Private   97261        HS-grad              9
21318   19            Private  138153   Some-college             10
21490   19            Private  146679   Some-college             10
21875   49            Private   31267        7th-8th              4
22300   25            Private  195994        1st-4th              2
22367   44            Private  367749      Bachelors             13
22494   49   Self-emp-not-inc   43479   Some-college             10
25872   23            Private  240137        5th-6th              3
26313   28            Private  274679        Masters             14
28230   27            Private  255582        HS-grad              9
28522   42            Private  204235   Some-college             10
28846   39            Private   30916        HS-grad              9
29157   38            Private  207202        HS-grad              9
30845   46            Private  133616   Some-college             10
31993   19            Private  251579   Some-college             10
32404   35            Private  379959        HS-grad              9

            Marital-status          Occupation    Relationship  \
4881         Never-married        Craft-repair   Not-in-family
5104         Never-married       Other-service   Not-in-family
9171         Never-married      Prof-specialty       Own-child
11631        Never-married        Tech-support   Not-in-family
13084        Never-married     Priv-house-serv   Not-in-family
15059        Never-married     Farming-fishing   Not-in-family
17040   Married-civ-spouse        Craft-repair         Husband
18555        Never-married       Other-service   Not-in-family
18698        Never-married     Farming-fishing   Not-in-family
21318        Never-married        Adm-clerical       Own-child
21490        Never-married     Exec-managerial       Own-child
21875   Married-civ-spouse        Craft-repair         Husband
22300        Never-married     Priv-house-serv   Not-in-family
22367        Never-married      Prof-specialty   Not-in-family
22494   Married-civ-spouse        Craft-repair         Husband
25872        Never-married   Handlers-cleaners   Not-in-family
26313        Never-married      Prof-specialty   Not-in-family
28230        Never-married   Machine-op-inspct   Not-in-family
28522   Married-civ-spouse      Prof-specialty         Husband
28846   Married-civ-spouse        Craft-repair         Husband
29157   Married-civ-spouse   Machine-op-inspct         Husband
30845             Divorced        Adm-clerical       Unmarried
31993        Never-married       Other-service       Own-child
32404             Divorced       Other-service   Not-in-family

                      Race      Sex  Capital-gain  Capital-loss  \
4881                 White     Male             0             0
5104    Asian-Pac-Islander     Male             0             0
9171                 White   Female             0             0
11631                White   Female             0             0
13084                White   Female             0             0
15059                White     Male             0             0
17040                White     Male             0             0
18555                Black     Male             0             0
18698                White     Male             0             0
21318                White   Female             0             0
21490                Black     Male             0             0
21875                White     Male             0             0
22300                White   Female             0             0
22367                White   Female             0             0
22494                White     Male             0             0
25872                White     Male             0             0
26313                White     Male             0             0
28230                White   Female             0             0
28522                White     Male             0             0
28846                White     Male             0             0
29157                White     Male             0             0
30845                White   Female             0             0
31993                White     Male             0             0
32404                White   Female             0             0

       Hours-per-week  Native-country  Income
4881               40          Mexico    True
5104               35   United-States    True
9171               10   United-States    True
11631              10   United-States    True
13084              40       Guatemala    True
15059              50          Mexico    True
17040              40   United-States    True
18555              40   United-States    True
18698              40   United-States    True
21318              10   United-States    True
21490              30   United-States    True
21875              40   United-States    True
22300              40       Guatemala    True
22367              45          Mexico    True
22494              40   United-States    True
25872              55          Mexico    True
26313              50   United-States    True
28230              40   United-States    True
28522              40   United-States   False
28846              40   United-States    True
29157              48   United-States   False
30845              40   United-States    True
31993              14   United-States    True
32404              40   United-States    True

Number of duplicate rows removed: 24
Shape of the cleaned dataset: (32537, 15)

In [75]:
# Assuming df contains your preprocessed data

# Define features (X) and target (y)
X = df.drop('Income', axis=1)  # Features are all columns except 'Income'
y = df['Income']  # Target is the 'Income' column

# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [76]:
# Random Forest Classification
# One-hot encode categorical variables for both training and testing sets
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)

# Align the columns of the testing set with the columns of the training set
X_test_encoded = X_test_encoded.reindex(columns=X_train_encoded.columns, fill_value=0)

# Train the RandomForestClassifier
rf_classifier.fit(X_train_encoded, y_train)

# Predictions
rf_pred = rf_classifier.predict(X_test_encoded)

# Evaluation
print("\nRandom Forest Classification Report:")
print(classification_report(y_test, rf_pred))
print("Random Forest Accuracy:", accuracy_score(y_test, rf_pred))

Random Forest Classification Report:
              precision    recall  f1-score   support

       False       0.74      0.64      0.69      1571
        True       0.89      0.93      0.91      4942

    accuracy                           0.86      6513
   macro avg       0.82      0.78      0.80      6513
weighted avg       0.85      0.86      0.86      6513

Random Forest Accuracy: 0.8590511285122063

In [77]:
# Model training
# Naïve Bayes Classification
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()

# Train the Naïve Bayes classifier
nb_classifier.fit(X_train_encoded, y_train)

# Predictions
nb_pred = nb_classifier.predict(X_test_encoded)

# Evaluation
print("Naïve Bayes Classification Report:")
print(classification_report(y_test, nb_pred))
print("Naïve Bayes Accuracy:", accuracy_score(y_test, nb_pred))

Naïve Bayes Classification Report:
              precision    recall  f1-score   support

       False       0.68      0.32      0.43      1571
        True       0.81      0.95      0.88      4942

    accuracy                           0.80      6513
   macro avg       0.75      0.64      0.66      6513
weighted avg       0.78      0.80      0.77      6513

Naïve Bayes Accuracy: 0.7991708889912482

In [83]:
# Save the updated dataset to a new CSV file
df.to_csv('Adult_data_imputed.csv', index=False)